<% if @jobs.any? %>
  <div class="jobs">
    <% @jobs.each do |job| %>
      <div id="container">
        <div class="ellipsis">...</div>
        <div class=job_commands>
          <%= link_to "Edit", edit_job_path(job) %>
          <%= link_to "Delete", job_path(job), method: :delete %>
        </div>
      <div class="job_block">
        <h3> <%= link_to job.title, job_path(job) %> </h3>
        <p> <%= job.company %> </p>
        <p> <%= job.location %> </p>
        <p> £<%= job.salary %> </p>
        <p> <%= job.description %> </p>
      </div>
    </div>
  <% end %>
</div>
<% else %>
  No jobs yet
<% end %>

<br>

<a href='/jobs/new'>Add a job</a>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
